.modifyBox {
  margin: 4% 5% 4%;
  width: 90%;
  background-color: #F1B07C;
  color: white;
  padding: 20px 20px;
  border-radius: 20px;
}

.title {
  font-weight: bold;
}

.blackCol {
  color: black;
  text-align: center;
}

.centered {
  text-align: center;
  width: 33%;
  margin-right: 33%;
  margin-left: 33%;
}

.content {
  margin-bottom: 2%;
}

body {
  background-image: url("../res/textureDark.jpg");
  background-attachment: fixed;
  background-size: 250px;
}
