.labelForm {
  width: 20%;
}

.form-control {
  width: 40%;
}
#body{
    margin-top: 1%;
}
#checkout {
    height: 50%;
    margin: 15px;
    margin-top:0;
    padding: 10px;
    border-radius: 20px;

    border: 2px solid rgba(0,0,0,.1);
}

#toShow{
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.spinner{
    max-width:30%;
}
.top_nav {
  padding: 2px;
  background-color: #3A3B3A;
}

#back{
    padding: 10px;
    color:white;
}

.top_nav .btn {
    float:right;
    padding:5px;
    margin:5px;
}

 #back>i {
    margin-right:5px;
}

.rimuovi, .rimuovi:hover, .rimuovi:visited{
    color:red;
    padding:0px;
}

.fornitore{
    margin-bottom: 10px;
    color: #60BB6B;
    border-bottom: 3px solid #60BB6B;
}

.fornitore>h4{
    margin-left: 15px;
}

.labels {
  margin-left: 1%;
}

#totale{
    margin-left: 5px;
}

hr {
    margin:5px 0px;
}
.head {
  text-align: left;
}

.form-control {
  width: 100%;
}

.date {
  width: 100%;
}

.order {
  width: 50%;
  margin-left: 25%;
}

.sendNext {
  margin-top: 3%;
}

.product{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
