.labelForm {
  width: 20%;
}

.form-control {
  width: 40%;
}

#content {
  border-right: 1px solid rgba(0,0,0,.1);
}

.backPage {
  width: 50%;
  margin-top: 1%;
  padding-left: 1.25rem;
  font-size: 20px;
}

.backPage > a:hover {
  text-decoration: none;
}

.labels {
  margin-left: 1%;
}

.info {
  width: 50%;
}

.head {
  text-align: center;
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.date {
  width: 100%;
}

form {
  margin-top: 5%;
}

.order {
  width: 50%;
  margin-left: 25%;
}

.sendNext {
  margin-top: 3%;
}

#toShow {
  display: none;
}

@media screen and (max-width: 768px) {
  .toHide { display: none; }
  .toShow { display: block; }
}
