.message {
  position: absolute;
  top: 30%;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding:20px 20px;
}

.centered {
  padding-left: 10px;
  padding-right: 10px;
}

.distance {
  margin-bottom: 2%;
}

body {
  background-image: url("../res/bg-smaller.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
