.profilePic {
    width:100%;
    border: 5px solid #F1B07C;
    border-radius: 100%;
    max-height:300px;
}

@media screen and (max-width:1200px) {
    .profilePic {
        max-height:150px;
        max-width: 150px;
    }
}

.profilePic:hover {
    border: 7px solid #F1B07C;
}

#changeLogo {
    text-align: center;
}

#profileInfoBox {
    color:white;
    background-color: #832250;
    padding: 10px;
    margin: 0px;
}

#profileInfoBox hr {
    border: 1px solid white;
}

.modificaUtente {
    margin-top:10px;
    font-size: 10pt;
    text-align: center;
}

.modificaUtente a, .modificaUtente a:hover, .modificaUtente a:visited{
    color:white;
}

#prodottiBox {
    margin-top: 20px;
}


.tabledispl {
    float:right;
    display:table;
    height:100%;

}

.middleCol {
  width: 33%;
  margin-right: 33%;
  margin-left: 33%;
}

#addLink, #addLink:hover {
    text-decoration:none;
    display: table-cell;
    vertical-align: middle;
}

#addLink:visited {
    color: #60BB6B;
}

#addLink:visited:hover, #addLink:hover {
    color: #598C5F;
}
