.modifyBox {
  margin: 4% 5% 4%;
  width: 90%;
  background-color: #F1B07C;
  color: white;
  padding: 20px 20px;
  border-radius: 20px;
}

.centered {
  text-align: center;
  width: 33%;
  margin-right: 33%;
  margin-left: 33%;
}

#addCat {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

body {
  background-image: url("../res/bg-smaller.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
