body {

}

#modificaform {
  color:white;
}

#profile {
  background-color: #F1B07C;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  width:90%;
  padding:10px;
}

#foodImg {
    height:150px;
    width:150px;
    object-fit: cover;
}

#selectImg {
    text-align: left;
}

.fit {
  max-width: 100%;
}

.vertical {
  height: 52%;
  max-width: 100%;
  text-align: center;
}
