#changeLogo {
    text-align: center;
}

#profileInfoBox {
    background-color: #832250;
    color: white;
    padding: 10px;
    margin: 0px;
    height: 92vh;
}

.profilePic {
    width:100%;
    border: 5px solid #F1B07C;
    border-radius: 100%;
    max-height:300px;
}

@media screen and (max-width:1200px) {
    .profilePic {
        max-height:150px;
        max-width: 150px;
    }

    #profileInfoBox {
      height: 50%;
    }
}

#prodottiBox {
    margin-top: 20px;
}

.centered {
  text-align: center;
}

.field {
  margin-top: 2%;
}

.orari {
  margin-bottom:10px;
}

.distanced {
  margin-top: 1%;
}

.fullwidth {
  width: 100%;
}
