body {
    background-image: url("../res/textureDark.jpg");
    background-attachment: fixed;
    background-size: 250px;
}

#menu-box {
    background-color: #F1B07C;
    border-radius: 20px;
    margin:2% 5%;
    width:90%;
    padding:10px;
}

.riepilogoOrdine h4 {
    color: #F1B07C;
}

.riepilogoOrdine .row {
    background-color: #F1B07C;
    color:white;
    border-radius: 10px 10px 0px 0px;
}
