#registerform {
    background-color: #832250;
    color:white;
    padding:20px 20px;
    margin-top:1%;
    margin-bottom: 0.5%;
    border-radius:20px;
    position:relative;
}

body {
    background-image: url("../res/bg-smaller.jpg");
    background-position: center;
}
