.top_margin {
  margin-top: 4%;
}

.distanced {
  margin-top: 2%;
}

.changeScreen {
  max-width: 100%;
  flex: 0 0 100%;
}

 #filters{
     background-color: white;
     z-index: 999;
}

#filterButton{
    border-radius: 0px;
    margin: 0;
}

.filterBorder {
    border-right: 1px solid rgba(0,0,0,.1);
}

 .fullwidth{
     width:93%;
     padding:2%;
     margin-left: 15px;
     margin-right: 15px;
     border-radius: 0px 20px 20px 20px;
     border: 3px solid #F1B07C;
 }

.centered {
  text-align: center;
}

.rangelabels {
  width: 50%;
  float: left;
  margin-top: -5%;
}

.tre {
  width: 26%;
  float: left;
  font-size: 15px;
}

.fixedMargin {
  margin-top: 5%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.reduced {
  width: 70%;
  max-width: 70%;
}

 hr {
   border-top: 0;
 }

 .marginAccordion {
   margin-top: 1%;
   margin-bottom: 1%;
   margin-right: 5px;
   font-weight: lighter;
 }

 .informazionLink {
   color: grey;
   font-weight: bold;
 }

 .informazionLink:hover {
   color: grey;
 }

strong{
    font-size: 20px;
}
