.total {
  margin-top: 4%;
}

.content {
  border-left: 1px solid rgba(0,0,0,.1);
  max-width: 80%;
  flex: 0 0 80%;
}

#filters {
  max-width: 20%;
  flex: 0 0 20%;
}

#myFiltersNav {
  margin-bottom: 2%;
}

#filtersList {
  margin-top: 2%;
  margin-bottom: 2%;
}

#mobileFilters {
  width: 100%;
}

.changeScreen {
  max-width: 100%;
  flex: 0 0 100%;
  text-align: center;
}

.nav-tabs {
  border-bottom: none;
}

.centered {
  text-align: center;
}

.rangelabels {
  width: 50%;
  float: left;
  margin-top: -5%;
}

.tre {
  width: 26%;
  float: left;
  font-size: 15px;
}

.fixedMargin {
  margin-top: 5%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
