/*Components*/
.btn, .btn:hover, .btn:focus {
    color:white;
}

.btn:focus {
        box-shadow: none;

}

.form-control:focus{
    box-shadow: 0px 0px 5px #60BB6B;
    border-color: #60BB6B;
}

.form-check-input:hover, .form-check-input:focus{
    box-shadow: 0px 0px 3px #60BB6B;
    border-color: #60BB6B;
    color: #60BB6B;
}

a {
    color: #60BB6B;
    text-decoration: none;
}
a:hover {
    color: #1F792A;
}

a:visited {
    color: #832250;
}

.noVisitedLink, .noVisitedLink:visited , .noVisitedLink:hover{
    color:white;
    text-decoration: none;
}


.nav-link {
    color:white;
    text-decoration: none;
    margin-left:10px;
}

.nav-link:visited {
    color:white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #60BB6B;
    color:white;
    text-decoration: underline;

}

.page-link {
    text-decoration: none;
    color: #60BB6B;
}
.page-link:hover {
    color: #1F792A;
}

.dropdown-item:active {
    background-color: #60BB6B;
}


/*Colors*/
.green {
    background-color: #60BB6B;
}

.green:hover {
    background-color: #1F792A;
}


.orange {
    background-color: #F1B07C;
}

.orange:hover {
    background-color: #9D5C28;
}

.purple {
    background-color: #C96896;
}

.purple:hover {
    background-color:#832250;
}

/*Single components*/

.navbar {
    padding: 5px;
    background-color: #60BB6B;
    color: white;
}

.fullScreen {
    max-width: 100%;
    width: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.footer {
    padding-bottom:2%;
    background-color: #2c2e2c;
    text-align: center;
    color: grey;
}

.backToTop {
    padding:10px;
    margin-bottom:2%;
}
.backToTop:hover {
    background-color:#3A3B3A;
}

.footer a, .footer a:hover, .footer a:visited{
    color:white;
    text-decoration: none;
}
/*behaviour*/
html {
    scroll-behavior: smooth;
}
